body {
    margin: 0 0;
    background-color:lightgray;
}
header {
    box-shadow: 0 0 7px #666;
    width: 100%;
    background-color: gray;
    padding: 10px;
    height: 120px;
    border-bottom: 1mm solid black;
}
header img {
        float: left;
        margin: 10px;
        width: 100px;
        height: 100px;
}

h1 {
    padding: 10px;
}

#shap {
    max-width: 960px;
    background-color: gray;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

nav{
  max-width: 960px;
  margin: auto;
  align-content: center;
  display: flex;
  filter: drop-shadow(0px 30px 40px rgb(0, 0, 0));
  background-color: rgba(29, 29, 29, 0.842);
  border-top: 1px solid rgb(41, 41, 41);
}
nav a{
  text-decoration: none;
  color: white;
  width: -webkit-fill-available;
  display: block;
  text-align: center;
  padding: 20px;
}
nav a:hover{
  background-color: rgba(30,30,30);
  transition: 0.4s ease;
}
.green {
    background: lightgrey;
}
.yellow {
    background: white;
}
.block {
    box-shadow: 0 0 7px #666;
    border-radius: 20px;
    border: 1mm solid black;
    max-width: 960px;
    background-color: gray;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
footer {
    box-shadow: 0 0 7px #666;
    border-top: 1mm solid black;
    width: 100%;
    background-color: gray;
    height: 120px;
    margin-top: 20px;
}
#podval{
    display:flex;
    align-items:center;
    padding-left:20px;
}
.round {
    box-shadow: 0 0 7px #666;
    border-radius: 100px;
    border: 0.5mm solid rgba(0, 0, 0);
}
a {
text-decoration: none;
}
a:hover {
text-decoration: underline;
color: blue;
}
a:visited {
color: blue;
}
