body {
    margin: 0 0;
    background-color:lightgray;
}
header {
    width: 100%;
    background-color: gray;
    padding: 10px;
    height: 120px;
}
header img {
        float: left;
        margin: 10px;
        width: 100px;
        height: 100px;
}

h1 {
    padding: 10px;
}

#shap {
    max-width: 960px;
    background-color: gray;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

nav {
    max-width: 960px;
    background-color: gray;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
#green {
    background: lightgrey;
}
#yellow {
    background: white;
}
#block {
    max-width: 960px;
    background-color: gray;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
footer {
    width: 100%;
    background-color: gray;
    height: 120px;
    margin-top: 20px;
}
#podval{
    display:flex;
    align-items:center;
    padding-left:20px;
}
.round {
    border-radius: 100px;
}
